<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!--
  This includes Spring Boot's base config.
  If logging.file.name is set, base.xml will define a FILE appender
  with TimeBasedRollingPolicy and SizeBasedTriggeringPolicy automatically,
  using properties like logging.file.max-size, logging.rollingpolicy.max-history etc.
  -->
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <!-- You can still customize appenders, but make sure they don't clash -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Set the threshold to INFO -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{30} -%msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE"/> <!-- Reference the FILE appender defined by base.xml -->
  </root>

  <logger name="com.example.dd.nameSorter" level="DEBUG" additivity="false">
    <appender-ref ref="FILE"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

  <logger name="org.springframework" level="INFO" additivity="false">
    <appender-ref ref="FILE"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

</configuration>